---
layout: default
---

<article class="index">
  <h1 class="page-title">所有博文</h1>
  <div class="message">欢迎光临。</div>

  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h1 id="y{{post.date | date: "%Y"}}">{{currentdate}}</h1>
      <ul class="related-posts">
      {% assign date = currentdate %}
    {% endif %}
    <li>
      <h4>
        <a href="{{site.baseurl}}{{post.url}}"><span>{{post.title}}</span></a>
        <span class="refinfo">{{post.date | date: "%m/%d"}}</span>
      </h4>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</article>
